.layout-footer {
  background-color: lightblue;
  color: #e9c46a;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
.layout-header {
  background-color: lightgreen;
  color: lightseagreen;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}